@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap');

@import "../style/home.css";
@import "../style/respostas.css";
@import "../style/casas.css";
@import "../style/mobile.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}